.Track {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(256, 256, 256, 0.8);
}

.Track-action {
    cursor: pointer;
    font-size: 1.05rem;
    transition: color .25s;
    border: solid #fff 1px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    height: 1.5rem;
    width: 1.5rem;
}

.Track-action:hover {
    transform: scale(1.3);
    border: solid #1ED760 1px;
    color: #1ED760;
    transition: all ease 0.2s;
}

.PlayStopButton {
    cursor: pointer;
    font-size: 1rem;
    transition: color .25s;
    border: solid #fff 0.16rem;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    padding: 0.5rem;
    text-align: center;
    text-justify: auto;
    margin-right: 0.6rem;
}

.PlayStopButton:hover {
    transform: scale(1.1);
    color: #1ED760;
    transition: all ease 0.2s;
}

.Track-information {
    
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 72px;
}

.Track-information h3 {
    margin-bottom: .22rem;
}

.Track-information p {
    font-size: .83rem;
    font-weight: 300;
    color: rgba(256, 256, 256, 0.8);
}